  <%= turbo_frame_tag 'stars_table' do %>
  <div class="card stars-card">
    <h5 class="card-header">Bordered Table</h5>
    <div class="card-body">
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Адресс</th>
              <th>ID</th>
              <th>Площадь</th>
              <th>Комнат</th>
              <th>Цена Размещения</th>
              <th>Цена</th>
              <th>Изменение</th>
              <th>Цена м²</th>
              <th>Размещено</th>
              <th>Обновлено</th>
              <th>Срок Размежения</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @stars.each do |star| %>
              <tr data-action="mouseover->stars#rowHover" class="<%= gone?(star) ? 'gone' : '' %>">
                <td>
                  <%= link_to(star.latest_hist&.adress, star.latest_hist&.url, target: '_blank') %>
                </td>
                <td><%= star.object_id %></td>
                <td><%= star.latest_hist&.area %></td>
                <td><%= star.latest_hist&.rooms&.round %></td>
                <td><%= number_to_currency(star.first_hist&.price_usd, precision: 0, delimiter: ' ') %></td>
                <td><%= number_to_currency(star.latest_hist&.price_usd, precision: 0, delimiter: ' ') %></td>
                <td><%= number_to_currency(star.latest_hist&.price_usd - star.first_hist&.price_usd, precision: 0, delimiter: ' ') %></td>
                <td><%= number_to_currency(star.latest_hist&.meter_price_usd, precision: 0, delimiter: ' ') %></td>
                <td><%= star.first_hist&.date %></td>
                <td><%= star.latest_hist&.date %></td>
                <td><%= (star.latest_hist&.date - star.first_hist&.date).to_i %></td>
                <td>
                  <%= link_to star_path(star), class: 'star-delete', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
